.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about-me {
  width: 100%;
  float: left;
  border-radius: 2rem;
  display: grid;
  place-items: center;
}
.about-img img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 2rem;
}
.about-content p {
  display: flex;
  flex: grow;
  max-width: 600px;
  margin: 2rem 0 2.5rem;
}
.palm {
  width: 10%;
  height: 10%;
}
.get-to-know-me {
  background-image: var(--gradient);
}
.get-to-know-me h2 {
  text-align: center;
}
.shine {
  width: 50px;
  height: 50px;
  float: right;
}
/* Tablet */
@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about-me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
}
/* Mobile */
@media screen and (max-width: 600px) {
  .about-container {
    margin: 2rem;
    width: var(--container-small);
  }
  .about-me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about-content p {
    margin: 1rem auto;
  }
}
