header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
  background-image: url("../../assest/programmer-bg.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}
.info {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: left;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}
